header,
footer {
  display: flex;
  background-color: #F5CC6C;
  padding: 1em;
  text-align: center;
  margin-top: 1em;
  border-radius: 25px;
  align-items: center;
}

header img {
  width: 30%;
  border-radius: 25px;
}

header h1 {
  width: 60%;
  font-size: 2.5em;
}

header,
footer {
  font-family: "Roboto Slab", serif;
  color: #8a2be2;
}

body {
  align-self: center;
  width: 60%;
  margin: auto;
}

footer {
  display: block;
  text-align: center;
  align-items: center;
  font-size: 1.5em;
}

p {
  font-style: italic;
}

main {
    padding-left: 1.5em;
    padding-right: 1.5em;}


table {
  padding-left: 1em;
}
